section.kv
    .kv-inner
        .kv-textarea(data-aos="fade")
            h1.kv-titletext
                | Hello
                br.u-spDb
                |  Developer!
            p.kv-subtext
                | lorem ipsum dolor sit amet, consectetur adipiscing elit