section.bonus
    .bonus-inner
        h2.bonus-question Explain why the result of ('b' + 'a' + + 'a' + 'a').toLowerCase() is banana.
        p.bonus-answer
            | + + results in NAN or Not a Number because adding a whitespace, is not considered a string without the quotes in between.
            br
            | .toLowerCase(), converts all the characters to lower case.